* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

#header {
  position: sticky;
  top: 0;
  z-index: 101;
}
.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #0005;
  background: #ffffffd7;
  backdrop-filter: blur(4px);
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar__collection {
  display: flex;
  gap: 50px;
}

.navbar__link span {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}

.navbar__link span:hover {
  color: #3f3f3f;
  transition: 0.4s all ease;
  opacity: 0.7;
}
.navbar__link span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -7px;
  left: 0;
  background-color: #40916c;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.navbar__link span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar__icons a {
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.navbar__icons a:hover {
  border: 5px solid #000;
}

.posts {
  margin: 40px 0;
}

.posts__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 32px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.card {
  padding: 12px 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  padding-left: 50px;
  background: repeating-linear-gradient(
        #0000 0 calc(28px - 1px),
        #66afe1 0 28px
      )
      right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 25px;
}
.card:hover {
  transform: scale(1.1);
}
.card__items {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: #fff;
  border: 1px solid #66afe1;
  padding: 8px 0;
}
.card__items a {
  font-size: 20px;
}

.card h3 {
  text-transform: uppercase;
  padding-top: 20px;
}
.card p {
  font-size: 18px;
  padding-top: 10px;
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer__social,
.fooer__text {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer__social a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.fooer__text a {
  transition: 0.5s;
}
.footer__social a:hover,
.fooer__text a:hover {
  color: #fff;
}

.footer__collection {
  width: 100%;
}

.footer__item {
  display: inline-block;
  margin: 0px 30px;
}

.footer__social a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer__bottom p {
  color: gray;
}
