* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1236px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

#header {
  position: sticky;
  top: 0;
  z-index: 101;
}
.navbar {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #0005;
  background: #ffffffd7;
  backdrop-filter: blur(4px);
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar__collection {
  display: flex;
  gap: 50px;
}

.navbar__link span {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  position: relative;
}

.navbar__link span:hover {
  color: #3f3f3f;
  transition: 0.4s all ease;
  opacity: 0.7;
}
.navbar__link span::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -7px;
  left: 0;
  background-color: #40916c;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.navbar__link span:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navbar__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar__icons a {
  font-size: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.navbar__icons a:hover {
  border: 5px solid #000;
}

.users {
  margin: 30px 0;
}
.users h2 {
  margin-bottom: 20px;
  text-align: center;
}
.users__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.user__card {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}

.user__card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.users__header {
  position: relative;
  background: #0072ff;
  padding: 30px;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  text-align: center;
}

.users__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.users__img a i {
  font-size: 100px;
  transition: transform 0.5s ease;
}

.user__card:hover .users__img a i {
  transform: rotate(360deg);
}

.users__name {
  margin-top: 20px;
  color: #fff;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.username {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.7;
}

.users__body {
  padding: 20px;
  transition: transform 0.5s ease;
}

.info {
  margin-bottom: 10px;
}

.info h3 {
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.info p {
  font-size: 14px;
  color: #777;
}

.website a {
  color: #0072ff;
  text-decoration: none;
}

.website a:hover {
  text-decoration: underline;
}

.user__card:hover .users__body {
  transform: translateY(20px);
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer__social,
.fooer__text {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer__social a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.fooer__text a {
  transition: 0.5s;
}
.footer__social a:hover,
.fooer__text a:hover {
  color: #fff;
}

.footer__collection {
  width: 100%;
}

.footer__item {
  display: inline-block;
  margin: 0px 30px;
}

.footer__social a i {
  font-size: 2em;
  margin: 0% 1%;
}
.footer__bottom p {
  color: gray;
}
